@model IEnumerable<VidlyMvc.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie","New","Movies",null,new { @class = "btn btn-primary" })
<br/>
<hr/>

@if (!Model.Any())
{
    <p>we don't have any movies yet</p>
}
else
{
    <table class="table table-bordered table-hover">

        
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        
        <tbody>

            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "details", "Movies", new { id=movie.Id } , null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>

    </table>

}

